:root {
    --pale-green: rgb(207, 238, 207);
}
* {
    font-family: 'Gill Sans', Georgia, 'Lucida Grande', Times;
}
header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}
footer {
    display: flex;
    flex-direction: column;
}
body {
    background-color: var(--pale-green, honeydew);
}
h2 {
    text-decoration: underline;
    margin-bottom: 0em;
}
h3 {
    text-decoration: underline;
    margin-bottom: 0em;
}
a {
    color:navy;
    text-decoration: none;
}
a.header-link {
    border: solid;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: white;
    font-family: Copperplate, "Arial Black", Tahoma, Courier;
}
a.footer-link {
    margin: 0.5em;
}
a[href="/Experiments.html"] {
    display: none;
}
a#selected{
    color:white;
    background-color: navy;
    text-decoration: underline;
    border: solid
}